
.projetos{
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:"titulo" "lista" ;
    height: 100%;
}
.div-tit-pro{
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    margin-top: 20px;
    grid-area: titulo;
}
.lista_projetos{
    display: grid;
    grid-area: lista;
    grid-template-rows: 43% 43% ; 
    grid-template-columns: 50% 50% ;  
   
}
.item-pro{
    display: grid;
    grid-template-rows: 17% 84%;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "gif";
    margin: .8rem;
    grid-gap: 0;

}
.item_titulo_pro{
    
    display: flex;
    background-color: #222A99;
    flex-direction: column;
    justify-content: center;
    grid-area: titulo;
    color: white;
    text-align: center;
    padding: 0;
    border: #222A99 2px solid;
    
    

}
.img-projetos{
    border: solid 2px #222A99;
    grid-area: gif;
    width: 100%;
    height: 100%;
}
.display-none {
    display: none;
}


  
