.projetos{
    display: grid;
    grid-template-rows: 0.8fr 9.2fr;
    grid-template-areas:"titulo" "lista" ;
    grid-area: projeto;
    margin-top: 100px;
    padding-top: 145px;
}
.div-tit-pro{
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    margin-top: 20px;
    grid-area: titulo;
    margin-bottom: 5px;
}

.botao_prox_proj{
    color: #222A99;
    position: relative;
    left: 97%;
    width: 100px;
    bottom: 1350%;
}
.lista_projetos{
    display: grid;
    grid-area: lista;
    grid-template-rows: 45% 45% ; 
    grid-template-columns: 50% 50%;  
   
}
.item-pro{
    display: grid;
    grid-template-rows: 17% 84%;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "gif";
    margin: 1rem;
    grid-gap: 0;

}


.item_titulo_pro{
    
    display: flex;
    background-color: #222A99;
    flex-direction: row;
    justify-content: space-around;
    grid-area: titulo;
    color: white;
    text-align: center;
    padding: 0;
    border: #222A99 2px solid;
    align-items: center;
    font-weight: bold;
    
    

}
.aviso{
    background-color: orangered;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
    
}

.img-projetos{
    
    grid-area: gif;
    width: 100%;
    height: 100%;
}

.info_projetos{
    border: #222A99 solid 2px;
    color: #222A99;
    grid-area: gif;
    height: 100%;
    width: 100%;
    
}
.info_projetos h5 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    
}
.tec_usada{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    align-items: center;
}
.tec_usada img{
    width: 50px;
    height: 50px;

}
.links_do_proj{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links_do_proj button{
    background-color: #222A99;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;

}
.botao_prox_proj{
    width: 26px;

}

.display-none {
    display: none;
}




  
