
/* SOBRE */
.sobre {
    margin: 0px auto;
    text-align: left;  
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-area: sobre;
    margin-bottom: 90px;
    
}
.perfil{
    margin: 0px auto;
}

.div-titulo , .div-titulo2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: none;
    padding: 5px;
}
.div-titulo{
    margin: 0px auto;
    border-bottom: none;
}
.div-titulo{
    width: 600px;
    border: solid 2px #222A99;
    border-bottom: none;
}


.div-sobre-txt {
    width: 600px;
    margin: 0px auto;
    border: #222A99 solid 2px;
    padding: 2px;

}

.sobre-p {

    text-align: center;
    margin-left: 1rem;



}

.foco {
    font-style: italic;
    color: #222A99;
}

.div-prox {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 90px;
    position: relative;
    left: 90%;
    top: 48%;

}


.seta_sobre,
.seta-forma,.botao_prox_proj {
    background-color: #C5FEF5;
    color: #222A99;
    border: none;
    border-radius: 8px;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
}
.display-none {
    display: none;
}