
/* SOBRE */
.sobre {
    margin: 0px auto;
    text-align: left;
    margin-top: 10rem;
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
}

.div-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 10px;
}

.div-sobre-txt {
    width: 600px;
    margin: 0px auto;

}

.sobre-p {

    text-align: center;
    margin-left: 1rem;



}

.foco {
    font-style: italic;
    color: #222A99;
}

.div-prox {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 90px;
    position: relative;
    left: 90%;
    top: 47%;

}

.seta_sobre,
.seta-forma {
    background-color: #C5FEF5;
    color: #222A99;
    border: none;
    border-radius: 8px;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
}
.display-none {
    display: none;
}