.app {
    background-color: black;
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-rows: 100px calc(100px - auto) 20px;
    grid-template-columns: 100%;
    font-family: 'Montserrat', sans-serif;


}

header {
    grid-area: cabecalho;
    color: #222A99;
    position: -webkit-sticky;
    /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;



}

.wall {
    width: 100%;
    height:1rem ;
    background-color: black;
    position: relative;
    top: 0;
    color: black;
}

.Logo {
    display: inline-block;
}

.caixa {

    background-color: #C5FEF5;
    position: relative;
    margin: 0px auto;
    width: 940px;
    vertical-align: top;
    border-bottom: #C5FEF5;



}

.caixa ul {
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}

.lista-nav li {
    font-size: 20px;
    color: #222A99;
}




.infos {
    margin-top: 51px;
}

.infos a:hover {
    color: orangered;
}

main {
    display: grid;
    grid-area: conteudo;
    width: 940px;
    margin: 0px auto;
    background: #C5FEF5;
    border-top: #C5FEF5;
    grid-template-rows: 0.1fr 1fr 1fr 0.4fr;
    grid-template-areas: "sobre""formaçao""projeto""contato";


}

h2 {
    color: #222A99;
}
h2:hover{
    color: orangered;
}

footer {
    grid-area: rodape;
    background-color: #C5FEF5;
    margin-top: 50px;
    text-align: center;
    width: 940px;
    margin: 0px auto;
    color: #222A99;
    font-weight: bold;
}

.display-none {
    display: none;
}