.app {
    background-color: black;
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-rows: 100px calc(95vh - 100px) 30px;
    grid-gap: 2rem;
    font-family: 'Montserrat', sans-serif;


}

header {
    margin-top: .5rem;
    grid-area: cabecalho;
    color: #222A99;



}

.Logo {
    display: inline-block;
}

.caixa {
  
    background-color: #C5FEF5;
    position: relative;
    margin: 0px auto;
    width: 940px;
    vertical-align: top;
    border-bottom: #C5FEF5;



}

.caixa ul {
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}

.lista-nav li {
    font-size: 20px;
    color: black;
}

h1 {
    margin-top: 37px;
}

.infos {
    margin-top: 51px;
}

.infos:hover {
    color: #222A99;
}

main {
    grid-area: conteudo;
    width: 940px;
    margin: 0px auto;
    background: #C5FEF5;
    border-top: #C5FEF5;


}

h2 {
    color: #222A99;
}
footer {
    grid-area: rodape;
}

.display-none {
    display: none;
}